@import url('null.css');

:root {
	--page-btn-title-color: #256eeb;
	--btn-text-color: #ffffff;
}


.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 12px;

	/* outline: 1px solid red; */
}

/* Header logo */
.header {
	margin-top: 30px;
	margin-bottom: 24px;
}

.header-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 36px;
}

.header-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo h1 {
	font-size: 24px;
	line-height: 1.7;
	color: #0a143a;
	margin-left: 6px;
}

/* Header button controls */
.header-controls {
	display: flex;
}

.btn {
	display: inline-flex;
	font-weight: 400;
	font-size: 14px;

	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.btn-outline {
	background-color: transparent;
	margin-right: 10px;
}

.btn-outline:is(:focus, :hover) {
	background-color: var(--page-btn-title-color);
	color: var(--btn-text-color);
}

.btn-primary {
	color: var(--btn-text-color);
	background-color: var(--page-btn-title-color);
	transition: transform 250ms ease-in-out;
}

.header-controls .btn-primary:is(:focus, :hover) {
	transform: scale(1.05);
}

/* Modal window */
.backdrop {
	position: fixed;
	top:0;
	left: 0;
	z-index: 1;

	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.modal {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	min-width: 528px;
	min-height: 581px;
	padding: 25px;

	background: #ffffff;
}

.modal-title {
	font-size: 20px;
	text-align: center;
	margin-top: 35px;
	margin-bottom: 10px;
	color: rgba(33, 33, 33, 1);
}

.modal-list > .modal-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
}

.modal-item {
	position: relative;
}

.modal-lable {
	font-size: 12px;
	font-weight: 400;
	line-height: 1.17;

	padding: 5px;
	color: rgba(117, 117, 117, 1);
}

.modal-input {
	height: 40px;
	padding: 5px 5px 5px 40px;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	cursor: pointer;
}

.modal-svg {
	position: absolute;
	top: 75%;
	left: 10px;
	transform: translateY(-75%);

	width: 18px;
	height: 18px;
}

.modal-input:is(:focus, :hover) + .modal-svg {
	fill: #2196f3;
}

.modal-input:is(:focus, :hover) {
	border: 1px solid rgba(33, 150, 243, 1);
}

.modal-textarea {
	resize: none;
	padding: 10px;
	margin-bottom: 10px;

	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.2);
}

.modal .modal-check {
	display: flex;
	margin-right: auto;
	margin-left: auto;
}

.modal-check {
	display: inline-flex;
	align-items: center;
	justify-content: space-around;

	height: 24px;
	width: 425px;

	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;

	padding: 5px;
	margin-bottom: 20px;
	color: rgba(117, 117, 117, 1);
}

.modal-checkbox {
	position: absolute;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;


/* All browser */

	/* position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden; */
}

.modal-icon {
	display: inline-block;
	height: 15px;
	width: 15px;

	border: 2px solid rgba(33, 33, 33, 1);
	border-radius: 4px;
}

.modal-checkbox:checked + .modal-icon {
	border-color: transparent;
	background-color: #2196f3;
	background-image: url('../images/check.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: border-box;
}

/* .modal-checkbox:focus-within > .modal-icon {
	background-color: var(--page-btn-title-color);
} */

.modal-link {
	color: #2196f3;
	text-decoration-line: underline;
}

.modal-btn {
	display: block;
	height: 50px;
	width: 200px;

	font-size: 16px;
	font-weight: 700;
	line-height: 1.8;
	text-align: center;

	cursor: pointer;
	margin: 0 auto;
}

.modal-btn-close {
	position: absolute;
	top: 20px;
	left: 92%;

	display: flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;

	border-radius: 50%;
	border: 1px solid rgba(33, 33, 33, 0.2);
	background-color: transparent;

	cursor: pointer;
}

.modal-btn-close:is(:focus, :hover) {
	fill: #2196f3;
}

.close-btn-svg {
	width: 18px;
	height: 18px;
}


/* Header burger for mobile */
.header-burger {
	width: 30px;
	height: 30px;
	display: none;
}

/* Main section search */
.search {
	margin-bottom: 45px;
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 3px;
	border-radius: 5px;
	background-color: var(--page-btn-title-color);
}

.search-box input {
	min-width: 0;
	flex-grow: 1;
	padding: 14px 22px;
	border: none;
	outline: none;
}

.icon-btn::before {
	content: "";
	width: 15px;
	height: 15px;
	background-image: url(../images/search-icon.svg);
	margin-right: 5px;
}

/* Main content -- Section cards */

.content-box {
	display: flex;
	gap: 30px;
	justify-content: space-between;
	align-items: flex-start;
}

.content-main-wrapper {
	flex-grow: 1;
	margin-bottom: 70px;
}

.content-side {
	min-width: 260px;
}

.content-main__title {
	font-size: 24px;
	line-height: 1.7;
	margin-bottom: 25px;
}

.content-main__list ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
}

/* Overlay img cards */
.content-main__thumb {
	position: relative;
}

.content-main__thumb::before {
	content: "";
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(225, 193, 132, 0.5);
	border-radius: 10px;

/* Animation overlay card */
	transform: translatey(-100%);
	transition: transform 250ms ease-in-out;

	/* opacity: 0; */
}

.content-main__list-item:hover 
.content-main__thumb::before {
	transform: translatey(0);
	/* opacity: 1; */
}

.content-main__action {
	display: flex;
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;
}

.content-main__list-item:hover
.content-main__action {
	opacity: 1;
}

.content-main__action > .button-icon {
	width: 52px;
	height: 52px;
	padding: 10px;
	cursor: pointer;
	background: transparent;
}

.button-icon {
	transition-property: transform;
	transition-duration: 500ms;
}

.button-icon.heart:is(:focus, :hover) {
	transform: scale(1.3);
}

.button-icon.home:is(:focus, :hover) {
	transform: scale(1.3);
}

.button-icon.edit:is(:focus, :hover) {
	transform: scale(1.3);
}

.content-main__action .svg-icon {
	width: 32px;
	height: 32px;
}

/* Markup cards */
.content-main__list-item-group {
	padding: 15px;
}

.content-main__list-item {
	width: calc((100% - 60px) / 3);

	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.content-main__list-item--title{
	color: var(--page-btn-title-color);
	margin-bottom: 5px;
}

.content-main__list-item:hover {
	color: #ff0000;
}

.content-main__list-item--price{
	margin-bottom: 10px;
}

.content-main__list-item--desc{
	font-size: 14px;
	font-weight: 400;
	color: rgb(196, 196, 196);
}

/* Content sidebar */
.content-side__list ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 43px;
}

.content-side__list-item {
	width: 230px;
}

.content-side__decor-element::after {
	content: '';
	width: 260px;
	height: 1px;
	background-color: rgb(229, 229, 229);
	margin-bottom: 135px;
}

.content-side__title {
	font-size: 18px;
	line-height: 1.7;
	margin-bottom: 15px;
}

.content-side__list-item:not(:last-child) {
	margin-bottom: 25px;
}

.content-side__list-item--title,
.content-side__list-item--desc {
	font-size: 14px;
	margin-bottom: 5px;
}

.content-side__list-item--desc {
	font-weight: 400;
}

/* Sidebar FOOTER */
.footer {
	font-weight: 400;
	font-size: 14px;
	color: rgb(196, 196, 196);
}
.content-side__footer {
	margin-bottom: 8px;
}

.content-side__footer-link {
	text-decoration: underline;
	margin-bottom: 8px;
}

/* Social media*/
.icon {
	margin: 5px;
}

.icon-insta {
	padding: 3px;
}

.icon-facebook:hover {
	fill: #4460A0;
}

.icon-twitter:hover {
	fill: #1DA1F2;
}

.icon-insta:hover {
	fill: #C13584;
}

/* ============================================= */

/* Media */
@media (max-width: 1200px) {
	.container {
		max-width: 930px;
	}

	.content-main__list-item {
		width: calc((100% - 30px) / 2);
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 730px;
	}

	.content-box {
		flex-direction: column;
	}

	.content-main {
		width: 100%;
	}

	.content-side {
		width: 100%;
		min-width: none;
	}
}

@media (max-width: 786px) {
	.container {
		max-width: 100%;
	}

	.header-controls {
		display: none;
	}

	.header-burger {
		display: block;
	}

	.search-btn .search-btn__text {
		display: none;
	}
}

@media (max-width: 480px) {
	.content-main__list-item {
		width: 100%;
	}
}