@import url(null.css);


.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 12px;

	/* outline: 1px solid red; */
}

/* Header logo */
.header {
	margin-top: 30px;
	margin-bottom: 24px;
}

.header-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 36px;
}

.header-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo h1 {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: rgb(10, 20, 58);
	margin-left: 6px;
}

/* Header button controls */
.header-controls {
	display: flex;
}

.btn {
	display: block;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;

	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}

.btn-outline {
	background-color: transparent;
	margin-right: 10px;
}

.btn-outline:hover {
	background-color: rgb(37, 110, 235);
	color: rgb(255, 255, 255);
}

.btn-primary {
	color: rgb(255, 255, 255);
	background-color: rgb(37, 110, 235);
	transition: transform 1s;
}

.header-controls .btn-primary:hover {
	transform: scale(1.05);
}

/* Header burger for mobile */
.header-burger {
	width: 30px;
	height: 30px;
	display: none;
}

/* Main section search */
.search {
	margin-bottom: 45px;
}

.search-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	padding: 3px;
	border-radius: 5px;
	background-color: rgb(37, 110, 235);
}

.search-box input {
	min-width: 0;
	flex-grow: 1;
	padding: 14px 22px;
	border: none;
	outline: none;
}

.search-btn {
	display: flex;
	align-items: center;
}

.search-btn .search-btn__icon {
	width: 15px;
	height: 15px;
}

.search-btn .search-btn__text {
	margin-left: 2px;
	font-size: 16px;
	line-height: 19px;
}

/* Main content -- Section cards */

.content-box {
	display: flex;
	gap: 30px;
	justify-content: space-between;
	align-items: flex-start;
}

.content-main-wraper {
	flex-grow: 1;
	margin-bottom: 70px;
}

.content-side {
	min-width: 260px;
}

.content-main__title {
	font-size: 24px;
	font-weight: 700;
	line-height: 28px;
	margin-bottom: 25px;
}

.content-main__list ul {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 30px;
}

.content-main__list-item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: calc((100% - 60px) / 3);

	border-radius: 10px;
	overflow: hidden;
}

.content-main__list-link {
	width: 100%;
}

.content-main__list-item--title{
	font-size: 16px;
	line-height: 19px;
	font-weight: 700;
	color: rgb(37, 110, 235);

	margin-top: 15px;
	margin-bottom: 5px;
}

.content-main__list-item--title:hover {
	color: rgb(255, 0, 0);
}

.content-main__list-item--price{
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}

.content-main__list-item--desc{
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: rgb(196, 196, 196);
}

/* Content sidebar */
.content-side__list ul {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 43px;
}

.content-side__decor-element::after {
	content: '';
	width: 260px;
	height: 1px;
	background-color: rgb(229, 229, 229);
	margin-bottom: 145px;
}

.content-side__title {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	margin-bottom: 15px;
}

.content-side__list-item:not(:last-child) {
	margin-bottom: 25px;
}

.content-side__list-item--img {
	width: 30px;
	height: 30px;
	margin-bottom: 7px;
}

.content-side__list-item--title,
.content-side__list-item--desc {
	font-size: 14px;
	line-height: 16px;
	font-weight: 700;
	margin-bottom: 5px;
}

.content-side__list-item--desc {
	font-weight: 400;
}

/* Sidebar FOOTER */
.footer {
	font-size: 14px;
	line-height: 16px;
	color: rgb(196, 196, 196);
}
.content-side__footer {
	margin-bottom: 8px;
}

.content-side__footer-link {
	text-decoration: underline;
	margin-bottom: 8px;
}





/* Media */
@media (max-width: 1200px) {
	.container {
		max-width: 930px;
	}

	.content-main__list-item {
		width: calc((100% - 30px) / 2);
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 730px;
	}

	.content-box {
		flex-direction: column;
	}

	.content-main {
		width: 100%;
	}

	.content-side {
		width: 100%;
		min-width: none;
	}
}

@media (max-width: 786px) {
	.container {
		max-width: 100%;
	}

	.header-controls {
		display: none;
	}

	.header-burger {
		display: block;
	}

	.search-btn .search-btn__text {
		display: none;
	}
}

@media (max-width: 480px) {
	.content-main__list-item {
		width: 100%;
	}
}